.tasks-page {
   
    padding: 20px;
    background-color: #f4f4f4; /* Light gray background */
    display: flex; /* Keep display flex for the main page layout */
    flex-direction: column; /* Arrange items vertically */
}


.tasks-list {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Create columns with a minimum width */
    gap: 20px; /* Space between task cards */
}

.task-card {
    border-radius: 5px;
    padding: 15px;
    background-color: #429355; /* Dark background for task cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.imagemachine {
    width: 100%; /* Ensure images take full width of the card */
    height: auto; /* Maintain aspect ratio */
}
.start-button {
    margin-top: 10px; /* Space above the button */
    padding: 10px; /* Padding for the button */
    background-color: #190e46; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
}

.start-button:hover {
    background-color: #5255ad58; /* Darker green on hover */
}
